@import "_normalize.scss";
@import "_mixins.scss";

@import url('https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:300,400,700');

$main-color: #5474fd;
$text-color: #fff;
$active-color: #333;
$font-jos:'Josefin Sans', sans-serif;
$font-al:'Aleo', sans-serif;

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: $font-jos;
	font-size: 1.8rem;
	line-height: 1.6;
	min-height: 100%;
	color: $text-color;
}

.btn {
	display: inline-block;
	width: 230px;
	height: 60px;
	padding: 15px;
	@include td;
	background: linear-gradient(45deg, #496bfe 30%, $main-color 30%);
	margin:50px 0;
	@include dl;
	font-size: 1.6rem;
	font-family: $font-al;
	line-height: 1.9;
	letter-spacing: 1px;
	text-align: center;
	@include tr;
		&:hover,
		&:focus,
		&:active {
			transform: scale(1.1);
		}
}

.fas {
	&:before {
		font-size: 20px;
	}
}

.container {
	width: 65%;
	margin: 0 auto;
	padding: 115px 0 65px;
	@include flex;
	&--header {
		flex-direction: column;
		margin: auto;
	}
	&--menu {
		padding: 20px 0;
	}
	&--object {
		padding-top: 230px;
		padding-bottom: 100px;
	}
	&--icons {
		padding-top: 100px;
	}
	&--footer {
		margin: auto;
		flex-direction: column;
	}
	&__review {
		flex-wrap: wrap;
	}
}

.header {
	background-image: url('../img/header_img.jpg');
	@include bd;
	background-color: #256aa4;
	height: 100vh;
	text-align: center;
	position: relative;
	@include flex;
	&__title {
		text-transform: uppercase;
		font-size: 4.8rem;
		line-height: 1;
		margin-bottom: 0rem;
		@include td;
	}
	&__text {
		margin: 0 0 1rem;
		@include td;
		text-transform: capitalize;
	}
	&__scroll {
		text-decoration: none;
		text-transform: capitalize;
		font-size: 1.4rem;
		color: $text-color;
		display: inline-block;
		@include tr;
		@include flex($direction: column);
		&:hover,
		&:focus,
		&:active {
			transform: scale(1.2);
		}
	}
	&__menu {
		width: 100%;
		position: absolute;
		background-color: $main-color;
		@include myPos($top:100%, $ty:-100%);
	}
	&__logo {
		@include dl;
		font-size: 2.4rem;
		@include tr;
		&:hover,
		&:focus,
		&:active {
			color: $active-color;
		}
	}
	&__list {
		width: 60%;
		font-size: 0;
		padding: 0;
		@include flex;
	}
	&__items {
		display: inline-block;
		&+& {
			margin-left: 20px;
		}
	}
	&__link {
		@include dl;
		@include tr;
		font-size: 1.4rem;
		&:hover,
		&:focus,
		&:active {
			color: $active-color;
		}
	}
	&__search {
		background-color: $text-color;
		margin: 50px auto 125px;
		width: 45%;
		font-size: 0;
		border: 2px solid $text-color;
		@include flex();
		min-width: 400px;
	}
	&__input {
		width: calc(100% - 145px);
		height: 100%;
		outline: none;
		border: none;
		text-align: center;
		font-size: 1.4rem;
		margin: 10px 5px;
		&:focus::placeholder{
			text-indent: 100%; 
			transition: text-indent 0.5s ease;
		}
	}
	&__btn {
		width: 145px;
		font-family: $font-al;
		font-size: 1.4rem;
		height: 55px;
		line-height: 51px;
		width: 30%;
		outline: none;
		border: none;
		color: $text-color;
		background-color: $main-color;
		text-transform: uppercase;
		letter-spacing: 1px;
		border: 2px solid transparent;
		@include flex;
		@include td;
		@include tr;
		justify-content: space-around;
		&:hover,
		&:focus,
		&:active {
			border: 2px solid $main-color;
			color: $main-color;
			background-color: $text-color;
		}
	}
}

.places {
	background-image: url("../img/places-bg.jpg");
	@include bd;
	background-color: #3e3d3d;
	&__column {
		display: inline-block;
		width: 45%;
		&--2 {
			align-items: center;
		}
	}
	&__title {
		text-transform: capitalize;
		font-family: $font-al;
		font-size: 3.6rem;
		font-weight: 400;
	}
	&__text {
		font-size: 1.6rem;
		font-weight: 300;
	}
	&__photo {
		width: 65%;
		&--2 {
			float: right;
		}
	}
}
.icons {
	background-color: $active-color;
	background-image: url("../img/shape.png");
	background-repeat: no-repeat;
	background-position: 50% 60px;
	background-size: 600px;
	&__item{
		width: 30%;
		text-align: center;
		min-width: 270px;
	}
	&__text {
		text-transform: capitalize;
		font-size: 3.6rem;
		display: inline-block;
		font-family: $font-al;
		letter-spacing: 1px;
		margin: 0;
		text-align: center;
		&:before {
			background-position: center;
			@include bi;
			background-color: $active-color;
			position: relative;
			z-index: 2;
		}
		&--search {
			&:before {
				background-image: url("../img/lupa.png");
			}
		}
		&--select {
			&:before {
				background-image: url("../img/select.png");
			}
		}
		&--book {
			&:before {
				background-image: url("../img/book.png");
			}
		}
	}
}

.object {
	background-image: url("../img/house.jpg");
	@include bd;
	background-color: #a49eb6;
	&__about {
		width: 48%;
		background-color: rgba(35, 35, 35, .9);
		padding: 30px;
	}
	&__name {
		font-size: 2rem;
		font-weight: 300;
	}
	&__title {
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 400;
	}
	&__text {
		font-size: 1.6rem;
		font-weight: 300;
	}
	&__btn {
		margin-bottom: 20px;
		margin-top: 34px;
	}
		& + & {
		background-image: url("../img/rocks & ocean.jpg");
		.container--object {
		@include flex($content: flex-end);
		}
	}
}

.review {
	background-image: url("../img/tourist.jpg");
	@include bd;
	background-color: #a49eb6;
	&__title {
		text-transform: capitalize;
		text-align: center;
		width: 100%;
		font-family: $font-al;
		font-size: 3.6rem;
		font-weight: 400;
	}
	&__block {
		width: 100%;
		height: 100%;
		@include flex;
		align-items: stretch;
		margin-top: 70px;
		background-color: $active-color;
	}
	&__img-wrap {
		display: block;
		width: 40%;
	}
	&__img {
		width: 100%;
		height: 100%;
		min-height: 295px;
		object-fit: cover;
	}
	&__cite {
		width: 60%;
		background-color: $active-color;
		font-size: 1.6rem;
		height: 100%;
		font-weight: 300;
		@include flex;
		padding: 20px;
	}
	&__title-quote {
		text-transform: uppercase;
		font-size: 2rem;
	}
	&__text {
		position: relative;
		&::before {
		font-family: FontAwesome;
   		content: "\f10d";
   		color: $main-color;
   		position: relative;
   		top: -1.0rem;
   		font-size: 2.0rem;
		}
	}
}

.footer {
	background-color: #232323;
	&__title {
		text-transform: uppercase;
		font-size: 2.4rem;
		line-height: 1;
		margin-bottom: 10px;
		@include td;
	}
	&__text {
		margin: 0 0 1rem;
		@include td;
		font-size: 1.6rem;
		text-transform: capitalize;
	}
	&__social {
		margin-top: 20px;
	}
	&__link {
		@include dl;
		@include tr;
		& + & {
			margin-left: 20px;
		}
		&:hover,
		&:focus,
		&:active {
			color: $main-color;
		}
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 90%;
	}
}
